*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}    

body {
    
    max-width: 1400px;
    min-height: 3900px;
    font-family: "Poppins", sans-serif;   
}

header {
    max-width: 1400px;
    height: 78px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

ul li {
    margin-left: 20px;
    padding-top: 10px;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}

a:hover {
    color: #ff9900;
}

.btn1{
    margin-left: 20px;  
    border-style: solid 0px #BCD0E5; 
    width: 102px;
    height: 46px;
    background-color: white;
    color: #173A56;
    border-radius: 3px;
    box-shadow: none;
}

.btn2 {
    margin-left: 40px;
    width: 102px;
    height: 46px;
    background-color: #ff9900;
    color: aliceblue;
    border: none;
    border-radius: 3px;
}

main {
    display: flex;
    max-width: 1126px;  
    min-height: 496px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 20px;
     
}

.content-left {
    max-width: 518px;
    min-height: 233px;
    padding-left: 20px;
}

h1 {
    font-size: 44px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    width: 458px;
    height: 95px;
}

.content-btn {
    width: 175px;
    height: 53px;
    background-color: #ff9900;
    font-size: 14px;
    border-radius: 3px;
    border: none;
}

.fa-sharp {
   padding-left: 20px;
   padding-right: 10px;
}

span {
    color: #ff9900;
    text-decoration: underline;
    
}
.content-right {
    margin-left: 15%; 
    padding-top: 60px;
    
}




