*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}    

body {
    
    max-width: 1400px;
    min-height: 3900px;
    font-family: "Poppins", sans-serif;   
}

header {
    max-width: 1400px;
    height: 78px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 35px;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
}

ul li {
    margin-left: 20px;
    padding-top: 10px;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}

a:hover {
    color: #ff9900;
}

.btn1{
    margin-left: 20px;
    text-decoration: none;  
    border-style: solid 0px #BCD0E5; 
    width: 102px;
    height: 46px;
    background-color: white;
    color: #173A56; 
    font-size: 15px;
    border-radius: 3px;
    box-shadow: none;
}

.btn2 {
    margin-left: 40px;
    width: 102px;
    height: 46px;
    background-color: #ff9900;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: aliceblue;
}

main {
    display: flex;
    max-width: 1126px;  
    min-height: 496px;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    margin-top: 20px;
     
}

.content-left {
    max-width: 518px;
    min-height: 233px;
    padding-left: 10px;
}

h1 {
    font-size: 44px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    width: 458px;
    height: 95px;
    padding-left: 5px;
}

.content-btn {
    width: 175px;
    height: 53px;
    background-color: #ff9900;
    color:#ffff;
    border-radius: 3px;
    border: none;
    font-size: 13px;
    font-weight: bold;  
}

.fa-sharp {
   padding-left: 20px;
   padding-right: 10px;
}

span {
    color: #ff9900;
    text-decoration: underline;
    
}
.content-right {
    margin-left: 9%; 
    padding-top: 60px;
    
}

.feature {
    margin-top: 5%;
}

h2 {
    margin-left: 35%;
    padding-top: 60px;
    width: 535px;
    height: 108px; 
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.content-feat {
    display: flex;
    padding-top: 8%;
    max-width: 1095px;
    height: 204px;
    margin-left: 12%;
}

h4 {
    font-size: 18px;
    padding-top: 20px;
}

.texts {
    font-size: 14px;
    padding-top: 20px;  
    max-width: 220px; 
    margin-left: -5px; 
    /* justify-content: center;
    align-items: center; */

}

.arrow {
    max-width: 240px;
    min-height: 178px;
}

.waves {
    max-width: 240px;
    min-height: 178px;
    margin-left: 7%;
}
.hearts {
    max-width: 240px;
    min-height: 178px;
    margin-left: 10%;
}

.hour-glass {
    max-width: 240px;
    min-height: 178px;
    margin-left: 10%;
}
.feature-btn {
    margin-top: 8%;
    margin-left: 46%;
    width: 175px;
    height: 53px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #ff9900;
    border: none;
}

.validation-content {
    display: flex;
    margin-top: 14%;
}

.val-L {
    max-width: 486px;
    min-height: 531px;
    padding-left: 10%;
    padding-top: 3%;
}

.h-1 {
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
}
.vh1 {
   font-size: 30px;
   font-weight: bold; 
   padding-left: 20px;
   padding-top: 10px;
   max-width: 385px;
   min-height: 54px;
}
.h-2 {
   font-size: 14px;
   padding-left: 20px;
   padding-bottom: 5%;
   /* padding-bottom: 30px; */
}
.p-1 {
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 5%; 
    
}

.val-R {
    padding-left: 24%;
    margin-bottom: 5%;
}
.val-img {
    padding-bottom: 10%;
}

.product-content {
    display: flex;
    padding-top: 5%;
    max-width: 1121px;
    height: 521x;
    margin-left: 10%;
}

.product-L {
    margin-top: -5%;
}

.product-R {
    max-width: 486px;
    min-height: 427px;
    margin-left: 17%;
}

.pr1 {
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
}

.pr-head {
    font-size: 30px;
    font-weight: bold; 
    padding-left: 20px;
    padding-top: 10px;
}
.pro-p {
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 5%; 
    padding-top: 20px;
}

.check {
    padding-left: 15px;
}
.info {
    padding-left: 20px;
    margin-top: -5%;
}
.text1 {
    font-size: 14px;
    padding-left: 12%;
    max-width: 400px;    
}

.optimisation-content {
    display: flex; 
    margin-top: 10%; 
    flex-direction: column;
    
}
.optimise-L {
    display: flex;
    /* flex-direction: column; */
}
.heading-opt {
    margin-left: 11% ;
    max-width: 486px;
    min-height: 181px;
    
}
.optimisation {
    display: flex;
    max-width: 1110px;
    min-height: 609px;
}
.opt-L {
    margin-top: 10%;
    margin-left: 12%;
    max-width: 486px;
}

.opt-h5 {
    font-size: 13px;
    font-weight: 500;
    padding-left: 20px;
}
.opt-h {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 20px;
}
.opt-p {
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 5%;    
}
.opt-head {
    padding-left: 20px;
    padding-bottom: 20px;
}
.opt-R {
    margin-left: 19%;
    margin-top: 7%;
}
.hr-line {
    max-width: 1109px;
    height: 1px;
    background-color: #BCD0E5;
    margin-left: 12%;
    margin-top: 10%;
}
footer{
    max-width: 1109px;
    min-height: 308px;
}
.logo1 {
    margin-top: 8%;
    margin-left: 15%;
}
.navbar-foot {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
      align-items: center;     
}
.footer1 {
    display: block;
    margin-right: 8%;
    font-size: 13px;
    font-weight: 300;
}
.footer2 {
    display: block;
    margin-left: 35%;
    margin-top: -9.5%;
    font-size: 13px;
    font-weight: 300; 
}
.rectangle-box {
    width: 325px;
    max-width: 1110px;
    height: 45px;
    border: 2px solid #BCD0E5;
    margin-left: 85%;
    margin-top: -8%;
    padding-bottom: 10px; 
}
.signup-btn {
  position:absolute;
   max-width: 1110px;
   margin-left: 20.5%;
   margin-top: 15px;
   width: 131px;
   height: 39px;
   background-color: #ff9900;
   color: aliceblue;
   border: none;
   border-radius: 4px;
   font-size: 13px;
  
}